* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}